* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS";
}

h1 {
  font-size:32px;
  margin:2%;
  margin-left:7%;
  margin-right:7%;
  color: #7a7a7a;
}

h2 {
  font-size:20px;
  margin-bottom:2%;
  color: #7a7a7a;
}

p {
  margin-left:7%;
  margin-right:7%;
  color: #8B8B8B;
}

hr {
  margin:7%;
  height: 1px;
  border: 0;
  border-top: 1px solid #B1B1B1;
}

select {
  margin-bottom:7%;
}
option {
  background-color:#F6F0ED;
}

.bioText {
  color:#F0F0F0;
  font-size: 15px;
  margin:17%;
  margin-top:0%;
}

.contactInfo {
  margin:17%;
  margin-bottom: 5%;
  position:absolute;
  bottom: 0; 
  right: 0;
  font-size: 10px;
}

.bioBold {
  color:white;
}

.portfolioLeft {
  width:48%;
  float:left;
  opacity:0.8;
  margin:0;
}

.portfolioRight {
  width:48%;
  float:right;
}

.portfolioItem {
  margin-left:7%;
  margin-right:7%;
  margin-bottom:3%;
  display:inline-block;
}

.portfolioLeft:hover {
  opacity:1;
}

.portfolioText {
  margin:0;
  font-size:10px;
}

.languagetag{
  background-color: #E5EEF4;
  color:#4D82A7;
  display: inline-block;
  padding: 5px;
  margin-top:2%;
  margin-right:5px;
  font-size:11px;
}

.IDEtag{
  background-color: #E5EEF4;
  color:#4D82A7;
  display: inline-block;
  padding: 5px;
  margin-top:2%;
  margin-right:5px;
  font-size:11px;
}

.versionControltag{
  background-color: #E5EEF4;
  color:#4D82A7;
  display: inline-block;
  padding: 5px;
  margin-right:5px;
  margin-top:2%;
  font-size:11px;
}

.statetag{
  background-color: #E5EEF4;
  color:#4D82A7;
  display: inline-block;
  padding: 5px;
  margin-right:5px;
  margin-top:2%;
  font-size:11px;
}

.othertag{
  background-color: #E5EEF4;
  color:#4D82A7;
  display: inline-block;
  padding: 5px;
  margin-top:2%;
  margin-right:5px;
  font-size:11px;
}

.typetag{
  background-color: #E5EEF4;
  color:#4D82A7;
  display: inline-block;
  padding: 5px;
  margin-top:2%;
  margin-right:5px;
  font-size:11px;
}


.contributortag{
  background-color: #E5EEF4;
  color:#4D82A7;
  display: inline-block;
  padding: 5px;
  margin-top:2%;
  margin-right:5px;
  font-size:11px;
}

.icon {
  height:25px;
  margin-right:5px;
  margin-bottom:2%;
  float: right;
}

.icon:hover {
  opacity:0.7;
}

.contactText {
  color:#f2f2f2;
}

#filterBox {
    margin-left:7%;
    display:inline-block;
    margin-right:2%;
}

#leftSide {
    background-color: #34383A;
    width:25%;
    height:100%;
    position:absolute;
    background-size: auto 100%;
    background-image:url(assets/sunset.jpg);
    background-repeat: no-repeat;
    position:fixed;
}

#rightSide {
    right:0px;
    width:75%;
    position:absolute;
    background-image:url(assets/noise.png);
    display:inline-block;
  
}

#profileImage {
  margin-top:30%;
  margin-left:58%;
  width: 25%;
}
